.ecommerce{
    text-align: left;
    color: black;
    margin-left: 50px; 
}
.Home{
    margin-left: 200px;
}
.image{
    height: 600px;
    width: 1490px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px 10px 10px 10px;  
}
.imageheading{
    margin-left: 50px;
    margin-top: -350px;
    color: white;
    font-size: 60px;
}
.imagepara{
    margin-left: 50px;
    margin-top: -270px;
    color: white;
    font-size: 30px;
}
.cardimg{
    height: 200px;
    width: 100px;
}
.inputfile{
    height:30px;width:350px;margin-left: 600px;
}
.products{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 00px;
  padding: 10px;
  height:100px

}